*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    overflow:hidden;
}

/* =========================
INTRO
========================= */

.intro-screen{
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    position:fixed;
    top:0;
    left:0;
    background:linear-gradient(135deg,#000,#1b1b1b,#111);
    z-index:9999;
    overflow:hidden;
}

.intro-screen::before{
    content:'';
    position:absolute;
    width:350px;
    height:350px;
    background:gold;
    filter:blur(120px);
    opacity:0.2;
    animation:moveGlow 5s infinite alternate;
}

@keyframes moveGlow{

    from{
        transform:translate(-100px,-50px);
    }

    to{
        transform:translate(100px,50px);
    }
}

.intro-content{
    text-align:center;
    z-index:2;
    animation:fadeUp 1.5s ease;
    padding:20px;
}

.chess-icon{
    font-size:90px;
    color:gold;
    margin-bottom:20px;
    animation:float 2s infinite ease-in-out;
}

@keyframes float{

    0%{
        transform:translateY(0px);
    }

    50%{
        transform:translateY(-10px);
    }

    100%{
        transform:translateY(0px);
    }
}

.intro-content h1{
    font-size:60px;
    color:white;
    margin-bottom:20px;
}

.intro-content p{
    color:#ccc;
    font-size:22px;
    margin-bottom:30px;
}

#enter-btn{
    background:gold;
    color:black;
    border:none;
    padding:15px 35px;
    border-radius:10px;
    font-size:18px;
    cursor:pointer;
    transition:0.3s;
    font-weight:bold;
}

#enter-btn:hover{
    transform:scale(1.05);
    background:white;
}

@keyframes fadeUp{

    from{
        opacity:0;
        transform:translateY(40px);
    }

    to{
        opacity:1;
        transform:translateY(0px);
    }
}

/* =========================
CONTENIDO PRINCIPAL
========================= */

.main-content{
    padding:40px;
    min-height:100vh;
    background:#111;
}

.hidden{
    display:none;
}

.show{
    display:block;
    animation:fadeMain 1s ease;
}

@keyframes fadeMain{

    from{
        opacity:0;
    }

    to{
        opacity:1;
    }
}

/* =========================
PIEZA SIENDO TUMBADA
========================= */

.piece-fall{
    animation:pieceFall 1s forwards ease-in-out;
}

@keyframes pieceFall{

    0%{
        transform:rotate(0deg) translateY(0px);
        opacity:1;
    }

    40%{
        transform:rotate(-25deg) translateX(-10px);
    }

    100%{
        transform:rotate(90deg) translateX(120px) scale(0.8);
        opacity:0;
    }
}

/* =========================
RESPONSIVE
========================= */

@media(max-width:768px){

    .intro-content h1{
        font-size:38px;
    }

    .intro-content p{
        font-size:16px;
    }

    .chess-icon{
        font-size:60px;
    }

}